<!DOCTYPE html>
<html>
<head>
	<title>TODO APP</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<style type="text/css">
	</style>

	<script src="/javascripts/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.js"></script>
	<script src="/javascripts/angularApp.js"></script>
</head>

<body ng-app="todoApp">

	  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
	    <ul class="nav navbar-nav">
	      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
	      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
	      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
	      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
	    </ul>
	  </nav>

	<!-- <div ng-controller="MainCtrl as mainCtrl"> -->
		<div class="container">

			<!-- HEADER -->
			<!-- <div class="page-header alert alert-info"><h2>{{mainCtrl.appTitle}}</h2></div> -->
			<div class="page-header alert alert-info"><h2>ROUTING</h2>
			    <h1><%= title %></h1>
			    <h2>Angular Message {{ 2+2  }}</h2>
			</div>

			<ul>
			<li><a href="/#/">Default Route</a></li>
			<li><a href="/#/second">Second Route</a></li>
			<li><a href="/#/todos">TODOS</a></li>
			<li><a href="/#/asdasdasd">Nonexistent Route</a></li>
			</ul>

			<div ng-view></div>

<!-- 			<div class="well">
					<div class="form-group">
						<h4>{{ mainCtrl.remaining()  }} / {{mainCtrl.items.length}} COMPLETED </h4>

						<div ng-repeat="item in mainCtrl.items">
							<div class="checkbox">
								<label><input type="checkbox" 
											  ng-model="item.done"/>
								
									<span ng-class="{ 'text-success' : item.done, 'text-danger' : !item.done }">{{item.title}}</span>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<input type="text" class="form-control" ng-model="mainCtrl.newItem" placeholder="add new todo here" />
							</div>
							<div class="col-md-4">
							<button type="button" class="btn btn-primary" ng-click="mainCtrl.addNew()">ADD TODO</button>
							</div>
						</div>
					</div>
			</div> -->
		</div>
	<!-- </div> -->

</body>
</html>