<!DOCTYPE html>
<html>
<head>
	<title>TODO APP</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<style type="text/css">
	</style>


</head>

<body ng-app="todoApp">
	<div ng-controller="MainCtrl as mainCtrl">
		<div>
			<div class="container">

				<!-- HEADER and NAVBAR -->
				<div class="page-header alert alert-info"><h2>{{mainCtrl.appTitle}}</h2></div>
				header

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                </ul>


				<!-- MAIN CONTENT and INJECTED VIEWS -->

				<div id="main">
					{{mainCtrl.appTitle}} - {{mainCtrl.message}}
			        <!-- angular templating -->
			        <!-- this is where content will be injected -->

			        
			        {{contactController.message}}
			        {{aboutController.message}}


					<div ng-view></div>

				</div>
			</div>
		</div>

	</div>
	
	<script src="/javascripts/angular.js"></script>
	<script src="/javascripts/angular-route.js"></script>
	<script src="/javascripts/angularApp.js"></script>
</body>
</html>