			<h1><%= title %></h1>
			<div class="well">
					<div class="form-group">
						<h4>{{ mainCtrl.remaining()  }} / {{mainCtrl.items.length}} COMPLETED </h4>

						<div ng-repeat="item in mainCtrl.items">
							<div class="checkbox">
								<label><input type="checkbox" 
											  ng-model="item.done"
											  ng-change="mainCtrl.todoChange(item)" />
								
									<span ng-class="{ 'text-success' : item.done, 'text-danger' : !item.done }">{{item.title}}
									</span>
									<!-- author -->
									<small ng-show="item.author">
							  			posted by <a>{{item.author}}</a>
									</small>  
								</label>
							</div>


						</div>

						<div class="row"
							 ng-show="mainCtrl.isLoggedIn()"
							 >
							<div class="col-md-8">
								<input type="text" class="form-control" ng-model="mainCtrl.newItem" placeholder="add new todo here" />
							</div>
							<div class="col-md-4">
							<button type="button" 
									class="btn btn-primary" 
									ng-click="mainCtrl.addNew()"
									">ADD TODO</button>
							</div>
						</div>
						<div class="row"
							ng-hide="mainCtrl.isLoggedIn()">
						  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
						</div>

					</div>
			</div>