			<h1><%= title %></h1>
			<div class="well">
					<div class="form-group">
						<h4>{{ mainCtrl.remaining()  }} / {{mainCtrl.items.length}} COMPLETED </h4>

						<div ng-repeat="item in mainCtrl.items">
							<div class="checkbox">
								<label><input type="checkbox" 
											  ng-model="item.done"/>
								
									<span ng-class="{ 'text-success' : item.done, 'text-danger' : !item.done }">{{item.title}}</span>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<input type="text" class="form-control" ng-model="mainCtrl.newItem" placeholder="add new todo here" />
							</div>
							<div class="col-md-4">
							<button type="button" class="btn btn-primary" ng-click="mainCtrl.addNew()">ADD TODO</button>
							</div>
						</div>
					</div>
			</div>